@charset "UTF-8";

/* image */
.thumbnail {
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */
}
.thumbnail a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}
.thumbnail:hover {
    filter:alpha(opacity=70);/* IE 6,7*/
    -ms-filter: "alpha(opacity=70)";/* IE 8,9 */
    -moz-opacity:0.7;/* FF , Netscape */
    -khtml-opacity: 0.7;/* Safari 1.x */
    opacity:0.7;
    zoom:1;/*IE*/
}

a {
  text-decoration: none;
}

img {
    max-width: 260px;
    /* height: auto; */
}
.image {
  max-width: 260px;
  max-height: 130px;
  width: auto;
  height: auto;
}
.profile-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.image-carousel {
  max-width: 150px;
  max-height: 100px;
  width: auto;
  height: auto;
}
.div-iframe {
  margin: 0 auto;
  width: 200px;
}
.reference {
  text-align: right;
  font-size: 8px;
  color: rgb(156, 149, 149);
}



/* dialog box */
.dialog {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 800px;
}

.textarea-tweet {
  width: 100%;
  border-radius: 0px;
  font-size: 16px;
  background-color: white;
}

.list-item__subtitle{
  word-break: break-word;
}
.list-item__expandable-content{
  word-break: break-word;
}

ons-input {
  width: 80%;
}

label {
  color: lightslategrey;
}

/* ダイアログ上でのスクロールを可能にする */
.scroller {
  display: block;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
}

.input-range {
  display: none;
}
.range-group {
  position: relative;
}
.range-group > a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.range-group > a:before {
  content: "\f3ae";
  font-family: "Ionicons";
  font-size: 20px;
  color: #aaa;
}
.range-group > a.on:before {
  content: "\f2fc";
  color: #fc3;
}

.input-table {
  text-align: center;
  margin-top: 30px;
}

#cancel-button {
  background: left;
  color: grey;
}

.new-line {
  display: inline-block;
}



/* text-area */

.area-center {
  text-align: center;
}

.area-left {
  text-align: left;
  float: left;
}

.area-right {
  text-align: right;
}

.area-right-float {
  text-align: right;
  float: right;
}

.tv-program-watch {
  text-align: left;
  margin-left: 5px;
}

.hint-position-relative {
  position: relative;
  bottom: 70px;
}

.hint-list-dialog {
  /* text-align: left;
  float: right; */
  line-height: 20px;
  font-size: 14px;
  word-break: break-word;
  /* margin-right: 10px; */
  /* padding: 10px; */
}

/* margin */
.list-margin {
  margin: 0px 3px 0px 3px;
}
.list-margin-bottom {
  margin-bottom: 5px;
}
.label-margin {
  margin: 0px 30px 0px 30px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.hint-icon-right {
  margin-right: 5px;
}

.create-top-bottom-margin {
  margin-top:20px;
  margin-bottom:20px;
}

.create-top-margin-5 {
  margin-top:5px;
}
.create-top-margin-20 {
  margin-top:20px;
}
.on-air-movie {
  margin-top:20px;
  margin-bottom:20px;
}
.select-search-table {
  width: 80%;
  max-width: 500px;
}
.dramas-on-air{
  margin-bottom: 10px;
}

.drama-on-air-carousel{
  margin-top: 25px;
  border-bottom: solid thin lightgray;
  text-align: left;
}
li {
  word-break: break-word;
  margin-bottom: 20px;
}
.toolbar--material__center {
  margin-top: 5px;
}



/* padding */
.list-header--material {
  padding: 5px;
}


.list-header--material:not(:first-of-type){
  padding-top: 0px;
}

.drama-on-air-carousel-padding{
 padding: 3px;
}



/* font-size */
.comment-list-header-font {
  font-size: 12px;
}
.profile-comment-list-header-font {
  font-size: 12px;
}
.comment-list-content-font {
  font-size: 14px;
}
.tv-program-list-title-font {
  font-size: 20px;
}
.hint-font-size {
  font-size: 16px;
}



/* color */
.flag-color {
  color: rgb(213, 236, 6);
}
.fa-star {
  color: gold;
}
.category-area {
  color: blue;
  font-size: 14px;
  text-align: right;
}

.fa-question-circle {
  color: chocolate;
}

/* animation */

.bounce-animation {
  animation: bounce_animation 0.3s;
}

@keyframes bounce_animation{
  0% {transform: translateY(0px);}
  50% {transform: translateY(-6px);}
  100% {transform: translateY(0px);}
}

.buruburu {
  display: inline-block;
  animation: hurueru 2.2s  infinite;
}

@keyframes hurueru {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    2% {
        transform: translate(2px, 2px) rotateZ(2deg)
    }
    4% {
        transform: translate(0px, 2px) rotateZ(0deg)
    }
    6% {
        transform: translate(2px, 0px) rotateZ(-2deg)
    }
    8% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    10% {
        transform: translate(2px, 2px) rotateZ(2deg)
    }
    12% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    14% {
        transform: translate(2px, 0px) rotateZ(-2deg)
    }
    16% {
        transform: translate(0px, 2px) rotateZ(0deg)
    }
    18% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
}

/* floating box */
.floating-bottom {
  position: fixed;
  width: 95%;
  margin:0 10px 0 5px;
  text-align: center;
  bottom: 10px;
  display: none;
}

.floating-top {
  position: fixed;
  width: 95%;
  margin:0 10px 0 10px;
  text-align: center;
  top: 65px;
  display: none;
  z-index: 10002;
}

.toast-hide-button {
  float: right;
  border: none;
  background: none;
  color: white;
  font-size: 17px;
}