@charset "UTF-8";

.thumbnail {
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */
}
.thumbnail a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}
.thumbnail:hover {
    filter:alpha(opacity=70);/* IE 6,7*/
    -ms-filter: "alpha(opacity=70)";/* IE 8,9 */
    -moz-opacity:0.7;/* FF , Netscape */
    -khtml-opacity: 0.7;/* Safari 1.x */
    opacity:0.7;
    zoom:1;/*IE*/
}
img {
    max-width: 300px;
}
image {
  max-width: 300px;
  text-align: center;
}
.dialog {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
}

.textarea {
  width: 80%;
  background-color: white;
}

ons-input {
  width: 80%;
}

label {
  color: lightslategrey;
}

.scroller {
  display: block;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
}

#cancel-button {
    background: left;
    color: grey;
}
.doramas-on-air{
  margin-bottom: 10px;
}
a {
    text-decoration: none;
}

.list-item__subtitle{
    word-break: break-all;
  }

.input-range {
  display: none;
}
.range-group {
  position: relative;
}
.range-group > a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.range-group > a:before {
  content: "\f3ae";
  font-family: "Ionicons";
  font-size: 20px;
  color: #aaa;
}
.range-group > a.on:before {
  content: "\f2fc";
  color: #fc3;
}

.input-table {
  text-align: center;
  margin-top: 30px;
}

.area-center {
  text-align: center;
}

.area-left {
  text-align: left;
  float: left;
}

.area-right {
  text-align: right;
}

.list-margin {
  margin: 0px 5px 0px 3px;
}
.list-margin-bottom {
  margin-bottom: 5px;
}

.comment-list-header-font {
  font-size: 16px;
}
.comment-list-content-font {
  font-size: 14px;
}
.tv-program-list-title-font {
  font-size: 20px;
}
.tv-program-watch {
  text-align: left;
  margin-left: 5px;
}

.select-search-table {
  width: 80%;
  max-width: 500px;
  height: 100px;
}